<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    display: flex;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.volta {
    background-color: #FFFFFF; 
    color: #000000;
    border: none; 
    border-radius: 100px;
    cursor: pointer; 
    font-size: 28px; 
    padding: 10px 15px; 
    transition: background-color 0.3s; 
}

.volta:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: #FFFFFF;
}

.text-container {
    background-image: url('https://as1.ftcdn.net/v2/jpg/08/20/89/68/1000_F_820896838_J1lst1zVhkPJsvaEileN7ih74iJndShz.jpg'); 
    background-size: cover;
    background-position: center;
    width: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.text-content {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 40px;
    text-align: left;
}

.text-content h1 {
    font-size: 48px;
    font-weight: 700;
    margin: 0;
    color: #000000;
}

.text-content p {
    font-size: 24px;
    color: #2e2e2e;
    font-weight: 400;
}

.login-container {
    width: 50%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px;
}

.login-container h2 {
    font-size: 28px;
    font-weight: 700;
}

.login-container p {
    font-size: 16px;
    color: #2e2e2e;
    margin-top: -10px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    gap: 10px;
    align-items: center;
}

input {
    display: inline-block;
    padding: 0;
    border: none;
    font-size: 18px;
    width: 80%; 
    height: 35px;
    border-bottom: 3px solid #000000;
    box-sizing: border-box;
    outline: none; 
}

.botao-login, .botao-google {
    padding: 15px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    text-align: center;
    border-radius: 40px;
    margin-top: 3px;
}

.botao-login {
    background-color: #000;
    color: #fff;
    border: none;
}

.botao-google {
    background-color: #f4f4f4;
    color: #333;
    border: 1px solid #ddd;
}

a.botao-cadastrar-se {
    color: #262626;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    margin-top: 20px;
    display: block;
    text-align: center;
}

.loguinho {
    width: 10%; 
    margin-bottom: 5px; 
}

label {
    display: flex; 
    align-items: center; 
    font-size: 14px; 
    color: #262626; 
    margin-top: 10px; 
    margin-left: 190;
    white-space: nowrap;
}

input[type="checkbox"] {
    margin-right: 30px; 
    cursor: pointer; 
    accent-color: #000000;
}
=======
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    display: flex;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.text-container {
    background-image: url('https://as1.ftcdn.net/v2/jpg/08/20/89/68/1000_F_820896838_J1lst1zVhkPJsvaEileN7ih74iJndShz.jpg'); 
    background-size: cover;
    background-position: center;
    width: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.text-content {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 40px;
    text-align: left;
}

.text-content h1 {
    font-size: 48px;
    font-weight: 700;
    margin: 0;
    color: #000000;
}

.text-content p {
    font-size: 24px;
    color: #2e2e2e;
    font-weight: 400;
}

.login-container {
    width: 50%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px;
}

.login-container h2 {
    font-size: 28px;
    font-weight: 700;
}

.login-container p {
    font-size: 16px;
    color: #2e2e2e;
    margin-top: -10px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    gap: 10px;
    align-items: center;
}

input {
    display: inline-block;
    padding: 0;
    border: none;
    font-size: 18px;
    width: 80%; 
    height: 35px;
    border-bottom: 3px solid #000000;
    box-sizing: border-box;
    outline: none; 
}

.botao-login, .botao-google {
    padding: 15px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    text-align: center;
    border-radius: 40px;
    margin-top: 3px;
}

.botao-login {
    background-color: #000;
    color: #fff;
    border: none;
}

.botao-google {
    background-color: #f4f4f4;
    color: #333;
    border: 1px solid #ddd;
}

a.botao-cadastrar-se {
    color: ##262626;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    margin-top: 20px;
    display: block;
    text-align: center;
}

.loguinho {
    width: 10%; 
    margin-bottom: 5px; 
}

label {
    display: flex; 
    align-items: center; 
    font-size: 14px; 
    color: #262626; 
    margin-top: 10px; 
    margin-left: 190;
    white-space: nowrap;
}

input[type="checkbox"] {
    margin-right: 30px; 
    cursor: pointer; 
    accent-color: #000000;
}
>>>>>>> 636b0d75fb012c7ec2c7027233006f09c1eeebf8
